.metamask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(
    100vh - 600px
  ); /* Adjust this value to control the vertical space */
}

.metamask__connectMeta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metamask__accountInfo {
  position: absolute;
  top: 10px;
  right: 10px;
}

.metamask__accountAddress {
  padding: 5px;
  border-radius: 15px;
  border: solid thin #556cd6; /* You can change this color to match your theme */
}

.over_right_typo {
  font-size: 18px !important;
  border: none;
  font-weight: bold !important; /* Increase thickness */
  background-image: linear-gradient(
    90deg,
    rgba(16, 11, 91, 0.7792207792207793) 0%,
    rgb(149, 0, 255) 45%,
    rgba(252, 6, 255, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}
